<header class="">
    <a href="home.ejs"><img src="/Images/logo.png" class="logo1" alt="logo"></a>   
    
    <div>
        <ul id="nav">
            <li><a class="active" href="home.ejs">Home</a></li>
            <li><a href="#">Inspire</a></li>
            <li><a href="#">Chat Now</a></li>
            <li><a href="#">Find Therapy</a></li>
            <li><a href="#">Our Products</a></li>
            <li class="dropdown"><a href="#"><i class="fa-solid fa-user"></i></a>
                <div class="dropdown-content">
                    <a href="#">Login</a>
                    <a href="#">Signup</a>
                </div></li>
             <li class="tooltip hide"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a><span class="tooltiptext">Cart</span></li>
            <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a> 
         </ul>
    </div>

    <div class="hamburger">
        <a href="#"><i class="fa fa-user"></i>
        <a href="#"><i class="fa fa-cart-shopping"></i></a>
        <i id="ham" class="fa fa-outdent"></i>
    </div>
</header>
