<table>
    <tr>
        <th>User Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <% for( const fod of model) { %>
        <tr>
            <th>
                <%= fod.uid%>
            </th>
            <th>
                <%= fod.fname%>
            </th>
            <th>
                <%= fod.lname%>
            </th>
        </tr>
        <% } %>
</table>