
<%layout('./layouts/boilerplate') %>
<section class="landing">
        <p class="welcome"><strong style="font-family: 'Rajdhani', sans-serif;">WELCOME TO TRANQUIL</strong></p>
        <h2>Need Someone to Talk to?</h2>
        <h1>Our Counselors and Listeners Are Standing By</h1>
        <p class="tagline1" style="font-family: 'Source Sans Pro',sans-serif;">Tranquil is an Anonymous, Safe, and Effortless Go-To Feel Better platform that smartly connects you to the right peers and counselors to talk to & feel better.</p>
        <p class="tagline2" style="font-family: Montserrat,sans-serif;">Our mission is to spread over a million smile and make the world happier and healthier.</p>
</section>

    <section id="slogan">
        <p class="slogan1">Your Smart Go-To Feel Better Platform</p>
        <p class="slogan2">Be yourself & share your real feelings, thoughts, & life stories with peers across the world!</p>
    </section>
    
    <section id="features">
        <div class="feature-box">
            <img src="/Images/f1.png" alt="First feature">
            <h4 style="background-color: #fddde4;">Anonymous, Secure, Private</h4>
            <h6>Sharing your personal thoughts just got easier, safer, & fun</h6>
        </div>
        <div class="feature-box">
            <img src="/Images/f2.png" alt="Second feature">
            <h4 style="background-color: #cdebbc;">Grow at Your Own Pace</h4>
            <h6>Explore self help guides & growth paths for proven tips and advice on how to feel better</h6>
        </div>
        <div class="feature-box">
            <img src="/Images/f3.png" alt="Third feature">
            <h4 style="background-color: #cdd4f8;">Talk to a friend before a therapist</h4>
            <h6>Hang out, share, & grow with smartly matched peers</h6>
        </div>
    </section>
    <section id="features">
        <div class="feature-box">
            <img src="/Images/f4.png" alt="Fourth feature">
            <h4 style="background-color: #fddde4;">We're here for teens too</h4>
            <h6>We have listeners available especially for teens, so you can chat confidentially whenever you need to.</h6>
        </div>
        <div class="feature-box">
            <img src="/Images/f5.png" alt="Fifth feature">
            <h4 style="background-color: #cdebbc;">Affordable Online Therapy</h4>
            <h6>Confidential online therapy & counseling with licensed therapists</h6>
        </div>
        <div class="feature-box">
            <img src="/Images/f6.png" alt="Sixth feature">
            <h4 style="background-color: #cdd4f8;">Super-Savvy Intelligence</h4>
            <h6>Keep your mind happy with the right balance of empathy & technology</h6>
        </div>
    </section>
    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign up for Newsletters</h4>
            <p>Get Email updates about our latest stores and <span>special offers!</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>